apiVersion: batch/v1
kind: CronJob
metadata:
  name: news-cleaner
spec:
  schedule: "*/2 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: cleaner
              image: pueblo2708/devops-news-cleaner:latest
              env:
                - name: REDIS_HOST
                  value: "redis"
                - name: REDIS_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: redis-secret
                      key: password
